{% extends 'base.html.twig' %}

{% block title %}DashboardController!{% endblock %}

{% block body %}
<section>
<div class="container">

    <div class="row">
        <div class="col-md-12 center"> <h1>{{ title }}</h1></div>
    </div>


    <div class="row">
        <div class="col-md-3"><h4>start</h4></div>
        <div class="col-md-3"><h4>End</h4></div>
        <div class="col-md-3"><h4>Edit</h4></div>
        <div class="col-md-3"><h4>Delete</h4></div>
    </div>

    {% for worktime in worktimes %}
        <div class="row">
            <div class="col-md-3">{{worktime.startTime|date("Y-m-d h:i:s") }} </div>
            <div class="col-md-3">{{ worktime.endTime|date("Y-m-d h:i:s") }}</div>
            <div class="col-md-3"><a class="btn btn-outline-success" href="/dashboard/edit/{{ worktime.id }}">edit</a></div>
            <div class="col-md-3"><a class="btn btn-outline-danger" href="/dashboard/delete/{{ worktime.id }}">delete</a></div>

        </div>
    {% endfor %}





</div>
</section>
{% endblock %}
