{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <section>
        <div class="container">

            <div class="row">
                <div class="col-md-9 center"> <h1>{{ title }}</h1></div>
                <div class="col-md-3"><a class="btn btn-outline-primary" href="{{ path('app_working_time')}}">back</a> </div>
            </div>

            <div class="row">
                <div class="col-md-2"><h4>Project</h4></div>
                <div class="col-md-4"><h4>Username</h4></div>
                <div class="col-md-2"><h4>start</h4></div>
                <div class="col-md-2"><h4>End</h4></div>
                <div class="col-md-2"><h4>Working Time</h4></div>
            </div>
            <hr>

            {% for worktime in worktimes %}
                <div class="row">
                    <div class="col-md-2">{{worktime.name }}</div>
                    <div class="col-md-4">{{worktime.email }}</div>
                    <div class="col-md-2">{{worktime.startTime|date("Y-m-d h:i:s") }} </div>
                    <div class="col-md-2">{{ worktime.endTime|date("Y-m-d h:i:s") }}</div>
                    {% set difference = date(worktime.endTime).diff(date(worktime.startTime)) %}
                    {% set leftDays = difference.days %}

                    {% set interval = worktime.endTime.diff(worktime.startTime)|date("%mm %dd %h:%i:%ss") %}
                    <div class="col-md-2 center">{{ interval }}</div>

                </div>
            {% endfor %}
            <hr>
            <div class="row">
                <div class="col-md-12 center"> <h5>Auswertung</h5></div>
            </div>

            <div class="row">
                <div class="col-md-9"><h4>Total </h4></div>
                <div class="col-md-3"><h4>{{ total |date("%mm %dd %h:%i:%ss") }}</h4></div>
            </div>
            <hr>
            <div class="row center">
                {% if page == "user" %}
                <div class="col-md-12"><a class="btn btn-outline-success" href="{{ path('app_export_user',{id :id })}}">export</a> </div>
                {% else %}
                <div class="col-md-12"><a class="btn btn-outline-success" href="{{ path('app_export_project',{id :id })}}">export</a> </div>
                {% endif %}
            </div>


        </div>

    </section>
{% endblock %}
