{% extends 'base.html.twig' %}

{% block title %}List{% endblock %}

{% block body %}
    <section>
        <div class="container">

            <div class="row">
                <div class="col-md-12 center"> <h1>{{ title }}</h1></div>
            </div>
            <div class="row">
                <div class="col-md-6 center"><h3>Name</h3></div>
                <div class="col-md-6 center"><h3>Description</h3></div>
            </div>

            <hr>

                {% for project in projects %}
            <div class="row">
                <div class="col-md-6 center"><a  href="">{{ project.name }}</a></div>
                <div class="col-md-6 center">{{ project.description }}</div>
            </div>
                {% endfor %}
        <hr/>
            <div class="row">
                <div class="col-md-6 center"><a class="btn btn-outline-success btn-sm" href="{{ path('app_working_time')}}">Working Times</a></div>
                <div class="col-md-6 center"><a class="btn btn-outline-danger btn-sm" href="{{ path('app_project_form')}}">new Project</a></div>
            </div>

        </div>

    </section>
{% endblock %}
